@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "PT Serif Caption";
  src: url("./assets/fonts/PT_Serif_Caption/PTSerifCaption-Regular.ttf");
}

@font-face {
  font-family: "PT Serif";
  src: url("./assets/fonts/PT_Serif/PTSerif-Regular.ttf");
}